<nav class="navbar navbar-static-top border-bottom main-wrapper__nav"
     data-ng-controller="HeaderController as headerCtrl"
     data-ng-show="headerCtrl.Authentication.user">

    <ul class="nav navbar-top-links navbar-right">
        <li class="nav" data-ng-controller="SidebarController as sidebarCtrl">

            <label for="main-wrapper__category-control"></label>
            <select class="nav-header nav-title main-wrapper__category-control"
                    id="main-wrapper__category-control"
                    data-ng-model="sidebarCtrl.selectedTopState"
                    data-ng-options="topState.data.menuLabel for topState in sidebarCtrl.topStatesInNavDropdown"
                    data-ng-change="sidebarCtrl.goToState(sidebarCtrl.selectedTopState)">
            </select>
        </li>
        <li>
            <a class="top-link"
               ui-sref="todo_state.events.create({ eventPresetType: 'sick' })">
                <i class="fa fa-heartbeat" aria-hidden="true"></i>Sick today
            </a>
        </li>
        <li>
            <a class="top-link" ui-sref="todo_state.events.create({ eventPresetType: 'vacation' })">
                <i class="fa fa-plane" aria-hidden="true"></i>Vacation
            </a>
        </li>
        <li>
            <a class="top-link" ui-sref="todo_state">
                <i class="fa fa-calendar calendar-btn" aria-hidden="true"></i>
            </a>
        </li>
        <li class="dropdown nav-notifications" notification-tooltip></li>
        <li class="dropdown nav-user-profile">
            <a class="dropdown-toggle"
               type="button"
               data-toggle="dropdown">
                <span class="navbar-header__username"
                      data-ng-bind="headerCtrl.user.username ? headerCtrl.user.username : 'username'"></span>
                <div class="profile-image-wrapper img-circle">
                    <img class="profile-image" src="{{headerCtrl.user.profileImageURL}}">
                </div>

                <span class="caret"></span></a>

            <ul class="dropdown-menu">
                <li><a href="#!/settings/profile">Settings</a></li>
                <li><a href="#!/templates">My templates</a></li>
                <li><a href="#!/migrate">Import content</a></li>
                <li><a href="/auth/signout">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
