<section class="container-fluid auth-page">
  <aside class="col-sm-12 col-xs-12 auth-aside animated fadeInLeft">
    <div class="row">
      <div class="auth-form" data-ui-view></div>
      <p class="col-xs-10 col-xs-offset-1 auth-page__description">Hello there! If you see this logo you are on the right way to making your life easier and more organized. Just
        run application and create your own schedule. We would happy to help you with choosing free time slots and
        estimations. See you on the next page ;)</p>
    </div>
  </aside>
  </div>
</section>
