<form name="signupForm"
      data-ng-controller="AuthenticationController"
      data-ng-submit="signup(signupForm.$valid)"
      class="form-horizontal"
      novalidate
      autocomplete="off">
  <div class="app-logo">
    <img class="app-logo__img" src="/modules/users/img/logo-lg-light.png" alt="Make It Happen">
    <h1 class="app-logo__description">Make It Happen</h1>
  </div>
  <fieldset>
    <div class="auth-form__form-group"
         data-ng-class="{'has-error': signupForm.submitted && signupForm.email.$invalid || signupForm.email.$dirty && signupForm.email.$invalid}">
      <label for="email" class="text-uppercase auth-form__label">Email</label>
      <input type="email"
             id="email"
             name="email"
             class="auth-form__form-control form-control"
             data-ng-model="credentials.email"
             placeholder="Email"
             required>
      <div class="error-message">
        <p data-ng-show="(signupForm.email.$dirty && signupForm.email.$invalid && signupForm.email.$error.email) || (signupForm.submitted && signupForm.email.$error.email)" class="help-block error-text">Please enter a valid email</p>
        <p data-ng-show="(signupForm.email.$dirty && signupForm.email.$invalid) || (signupForm.submitted && signupForm.email.$error.required)" class="help-block error-text">Please enter your email</p>
      </diup
    </div>
    <div class="auth-form__form-group"
         data-ng-class="{'has-error': signupForm.submitted && signupForm.username.$invalid || signupForm.username.$dirty && signupForm.username.$invalid}">
      <label for="username" class="text-uppercase auth-form__label">Username</label>
      <input type="text"
             id="username"
             name="username"
             class="auth-form__form-control form-control"
             data-ng-model="credentials.username"
             placeholder="Username"
             required>
      <div data-ng-show="signupForm.submitted || signupForm.username.$dirty"
           class="error-message">
        <p data-ng-show="signupForm.username.$error.required" class="help-block error-text">Please enter your username</p>
      </div>
    </div>
    <div class="auth-form__form-group"
         data-ng-class="{'has-error': signupForm.submitted && signupForm.password.$invalid || signupForm.password.$dirty && signupForm.password.$invalid}">
      <label for="password" class="text-uppercase auth-form__label">Password</label>
      <input type="password"
             id="password"
             name="password"
             class="auth-form__form-control form-control"
             data-ng-model="credentials.password"
             placeholder="Password"
             required
             password-validator
             data-ng-change="validatePassword()"
             data-ng-blur="notifyIfInvalid()">
      <div class="error-message">
        <p data-ng-show="(signinForm.password.$dirty && signinForm.password.$invalid) || (signinForm.submitted && signinForm.password.$error.required)" class="help-block error-text">Please enter a password</p>
      </div>
      <script type="text/ng-template" id="validationErrorsTmp.html">
        <div data-ng-show="errors.length > 0">
          <p class="error-popover-title text-danger"> The password must:</p>
          <p data-ng-repeat="error in errors">{{error}}</p>
        </div>
        <p  data-ng-show="errors.length === 0" class="error-popover-title text-navy"> The password is valid</p>
      </script>
    </div>
    <div class="text-center auth-form__form-group">
      <a href="/#!/signin" class="show-signup btn btn-large btn-block btn-primary  auth-form__btn auth-form__btn--green text-uppercase auth-form__label">Sign in</a>
      <button type="submit" class="btn btn-large btn-block btn-primary  auth-form__btn auth-form__btn--blue text-uppercase auth-form__label">Create account</button>
    </div>
    <div data-ng-show="error" class="text-center text-danger">
      <strong data-ng-bind="error"></strong>
    </div>
  </fieldset>
</form>


