<form class="forgot-password-form form-horizontal"
      data-ng-controller="PasswordController"
      data-ng-submit="askForPasswordReset()"
      autocomplete="off">
    <div class="app-logo">
        <img class="app-logo__img"
             src="/modules/users/img/logo-lg-light.png"
             alt="Make It Happen">
        <h1 class="app-logo__description">Make It Happen</h1>
    </div>
    <div class="auth-title-wrapper">
        <h2 class="auth-title-wrapper__title">Forgot Password?</h2>
        <p class="auth-title-wrapper__description">You can reset your password here</p>
    </div>
    <fieldset class="forgot-reset-pass">
        <div class="auth-form__form-group">
            <label class="text-uppercase auth-form__label" for="email">User email</label>
            <input class="login-view__form-control form-control"
                   id="email"
                   type="text"
                   name="email"
                   data-ng-model="credentials.email"
                   placeholder="Email">
        </div>
        <div class="text-center auth-form__form-group">
            <button class="login-view__btn login-view__btn--green"
                    type="submit">Send
            </button>
            <a class="login-view__btn login-view__btn--blue"
               href="#!/signin">Back to sign in</a>
            <p class="forgot-password-form__description">
                An email has been send to emal.gmail.com with further instructions.</p>
        </div>
        <div class="text-center text-danger"
             data-ng-show="error">
            <strong>{{error}}</strong>
        </div>
        <div class="text-center text-success"
             data-ng-show="success">
            <strong>{{success}}</strong>
        </div>
    </fieldset>
</form>

