<section class="row text-center">
    <div class="col-md-12">
        <div class="app-logo">
            <img class="app-logo__img"
                 src="/modules/users/img/logo-lg-light.png"
                 alt="Make It Happen">
            <h1 class="app-logo__description">Make It Happen</h1>
        </div>
        <div class="auth-title-wrapper">
            <h2 class="auth-title-wrapper__title">Password successfully reset</h2>
        </div>
        <div class="auth-form-wrapper auth-form-wrapper--reset-password">
            <a class="auth-form-wrapper__link" href=/#!/">
                Continue to home page</a>
        </div>
    </div>
</section>