<form class="signin form-horizontal"
      data-ng-submit="resetUserPassword()"
      data-ng-controller="PasswordController"
      autocomplete="off">
    <div class="app-logo">
        <img class="app-logo__img"
             src="/modules/users/img/logo-lg-light.png"
             alt="Make It Happen">
        <h1 class="app-logo__description">Make It Happen</h1>
    </div>
    <div class="auth-title-wrapper">
        <h2 class="auth-title-wrapper__title">Reset your password</h2>
    </div>
    <fieldset class="forgot-reset-pass">
        <div class="auth-form__form-group">
            <label class="text-uppercase auth-form__label" for="newPassword">New Password</label>
            <input class="auth-form__form-control form-control"
                   id="newPassword"
                   type="password"
                   name="newPassword"
                   data-ng-model="passwordDetails.newPassword"
                   placeholder="New Password">
        </div>
        <div class="auth-form__form-group">
            <label class="text-uppercase auth-form__label" for="verifyPassword">Verify Password</label>
            <input class="auth-form__form-control form-control"
                   id="verifyPassword"
                   type="password"
                   name="verifyPassword"
                   data-ng-model="passwordDetails.verifyPassword"
                   placeholder="Verify Password">
        </div>
        <div class="text-center auth-form__form-group">
            <button class="auth-form__btn auth-form__btn--blue"
                    type="submit">Update Password
            </button>
        </div>
        <div class="text-center text-danger"
             data-ng-show="error">
            <strong>{{error}}</strong>
        </div>
        <div class="text-center text-success"
             data-ng-show="success">
            <strong>{{success}}</strong>
        </div>
    </fieldset>
</form>

