<section class="row text-center">
    <div class="col-md-12">
        <div class="app-logo">
            <img class="app-logo__img"
                 src="/modules/users/img/logo-lg-light.png"
                 alt="Make It Happen">
            <h1 class="app-logo__description">Make It Happen</h1>
        </div>
        <div class="auth-title-wrapper">
            <h2 class="auth-title-wrapper__title">Password reset is invalid</h2>
            <p class="auth-title-wrapper__description">You can reset your password here</p>
        </div>
        <div class="auth-form-wrapper auth-form-wrapper--reset-password">
            <a class="auth-form-wrapper__link" href="/#!/password/forgot">
                Ask for a new password reset</a>
        </div>
    </div>
</section>