<div data-ng-controller="EventsListController as eventCtrl">
    <header class="sidebar-header sidebar__block sidebar__block--group">
        <a data-ui-sref="restricted.todo_state.events.list">
            <span class="sidebar-header__button fa fa-arrow-left"></span>
        </a>
        <h3 class="sidebar-header__title">Events</h3>
        <a data-ui-sref="restricted.todo_state.events.edit({ eventId: event._id })">
            <span class="sidebar-header__button fa fa-pencil"></span>
        </a>
    </header>
</div>

<p>details</p>