<div class="events-list" data-ng-controller="EventsListController as eventCtrl">
    <header class="main-header-mobile">
        <div class="main-header-mobile__main-tab-info">
            <span class="main-header-mobile-control__icon icon icon-dehaze"></span>
            <h3 class="main-header-mobile__title">Events</h3>
        </div>
        <div class="main-header-mobile__icons">
            <a data-ui-sref="restricted.todo_state.events.create" class="main-header-mobile-control--right">
                <span class="main-header-mobile-control__icon icon icon-add"></span>
            </a>
            <a data-ui-sref="restricted.overdue" class="main-header-mobile-control--right">
                <span class="main-header-mobile-control__icon icon icon-notifications_active"></span>
            </a>
        </div>
    </header>
    <ul class="events-list__list" data-ng-show="eventCtrl.events.length">
        <li class="events-list__list-item" data-ng-repeat="event in eventCtrl.events | orderBy:'days.startTime'">
            <span class="events-list__icons--event icon icon-event"></span>
            <div class="events-list-item__info">
                <div class="events-list-item__title" data-ng-bind="event.title"></div>
                <div class="events-list-item__description">{{ event.days.startTime | date:"h:mma" }} - {{ event.days.endTime | date:"h:mma" }}</div>
            </div>
            <a class="events-list-item__edit" data-ui-sref="restricted.todo_state.events.details({ eventId: event._id })">
                <span class="events-list__icons--edit icon icon-create"></span>
            </a>
        </li>
    </ul>
    <p class="events-list__no-items"
        data-ng-hide="eventCtrl.events.length">
        No events yet.<br/>Please, click on <span class="icon icon-add"></span> to add new one.
    </p>
</div>