<div class="events-list" data-ng-controller="EventsListController as eventCtrl">
    <header class="events-list__header">
        <div class="events-list__main-tab-info">
            <span class="events-list__icons--burger fa fa-square-o"></span>
            <h3 class="events-list__title">Events</h3>
        </div>
        <div class="events-list__icons">
            <a data-ui-sref="restricted.todo_state.events.create">
                <span class="events-list__icons--add-task fa fa-plus"></span>
            </a>
            <a data-ui-sref="restricted.overdue">
                <span class="events-list__icons--notifications fa fa-bell"></span>
            </a>
        </div>
    </header>
    <ul class="events-list__list" data-ng-show="eventCtrl.events.length">
        <li class="events-list__list-item" data-ng-repeat="event in eventCtrl.events | orderBy:'days.startTime'">
            <span class="events-list__icons--event fa fa-calendar-o"></span>
            <div class="events-list-item__info">
                <div class="events-list-item__title" data-ng-bind="event.title"></div>
                <div class="events-list-item__description">{{ event.days.startTime | date:"h:mma" }} - {{ event.days.endTime | date:"h:mma" }}</div>
            </div>
            <a class="events-list-item__edit" data-ui-sref="restricted.todo_state.events.details({ eventId: event._id })">
                <span class="events-list__icons--edit fa fa-pencil"></span>
            </a>
        </li>
    </ul>
    <p class="events-list__no-items"
       data-ng-hide="eventCtrl.events.length">
        No events yet.<br/>Please, click on <span class="fa fa-plus"></span> to add new one.
    </p>
</div>