server-app-folder/tests/coverage/

public/*.js
public/*.map
public/dist
public/modules/**/*.map
public/modules/**/*.js
public/modules/**/*.css
public/modules/users/img/profiles/*
public/css/
public/index.html

public/build/*

#=========== THIS IS ORIGINAL FROM ROOT/APP folder
# iOS / Apple
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
config/env/local.js

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib/
tests/coverage/
.bower-*/
.idea/

# MEAN.js app and assets
# ======================
config/sslcerts/*.pem
access.log
public/dist/

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# IntelliJ
# ========
*.iml

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
