!scripts
/**/*.map
/**/*min.css

#=========== THIS IS ORIGINAL FROM ROOT/APP folder
# iOS / Apple
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
config/env/local.js

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
tests/coverage/
.bower-*/
.idea/

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# IntelliJ
# ========
*.iml

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp

# Mobile
# =======
www/index.html
www/lib
www/css
www/**/*.js

# Cordova
/platforms
/plugins