!scripts
public/*.js
public/dist
/**/*.map
public/modules/**/*.js
public/modules/**/*.css
/**/*min.css
public/modules/users/img/profiles/*
public/css/
public/index.html

#=========== THIS IS ORIGINAL FROM ROOT/APP folder
# iOS / Apple
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
config/env/local.js

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib/
tests/coverage/
.bower-*/
.idea/

# MEAN.js app and assets
# ======================
config/sslcerts/*.pem
access.log
public/dist/
public/build

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# IntelliJ
# ========
*.iml

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp

# Mobile
# =======
mobile/index.html
mobile/lib
mobile/css
mobile/**/*.js