<ul class="main-footer__list"
    data-ng-controller="FooterController as footerCtrl">
    <li class="main-footer__item"
        data-ng-class="{active : footerCtrl.activeMenu === 'todo'}"
        data-ng-click="footerCtrl.activeMenu = 'todo'">
        <a data-ui-sref="restricted.todo_state">
            <span class="main-footer__icon fa fa-line-chart"></span>
            <div class="main-footer__title">Plan your day</div>
        </a>
    </li>
    <li class="main-footer__item"
        data-ng-class="{active : footerCtrl.activeMenu === 'overdue'}"
        data-ng-click="footerCtrl.activeMenu = 'overdue'">
        <a data-ui-sref="restricted.overdue">
            <span class="main-footer__icon fa fa-line-chart"></span>
            <div class="main-footer__title">Track Progress</div>
        </a>
    </li>
    <li class="main-footer__item"
        data-ng-class="{active : footerCtrl.activeMenu === 'templates'}"
        data-ng-click="footerCtrl.activeMenu = 'templates'">
        <a data-ui-sref="restricted.templates">
            <span class="main-footer__icon fa fa-line-chart"></span>
            <div class="main-footer__title">My templates</div>
        </a>
    </li>
</ul>
