<section class="settings-page">
    <header class="main-header-mobile">
        <div class="main-header-mobile__main-tab-info">
            <a data-ui-sref="restricted.profile">
                <span class="main-header-mobile-control__icon icon icon-arrow_back"></span>
            </a>
            <h3 class="main-header-mobile__title">Edit profile</h3>
        </div>
        <div class="main-header-mobile__icons">
            <a data-ui-sref="restricted.overdue" class="main-header-mobile-control--right">
                <span class="main-header-mobile-control__icon icon icon-done"></span>
            </a>
        </div>
    </header>
    <div class="settings-content">
        <form>
            <fieldset>
                <div class="field-group">
                    <h2 class="field-group--name">Email</h2>
                    <input data-ng-model="settings.user.email" class="field-group--field" type="email">
                </div>

                <div class="field-group">
                    <h2 class="field-group--name">Username</h2>
                    <input data-ng-model="settings.user.username" class="field-group--field" type="text">
                </div>

                <div class="field-group">
                    <h2 class="field-group--name">Current password</h2>
                    <input data-ng-model="settings.currentPassowrd" class="field-group--field" type="password">
                </div>

                <div class="field-group">
                    <h2 class="field-group--name">New Password</h2>
                    <input data-ng-model="settings.newPassword" class="field-group--field" type="text">
                </div>

                <div class="field-group">
                    <h2 class="field-group--name">Verify Password</h2>
                    <input data-ng-model="settings.verifyPassword" class="field-group--field" type="text">
                </div>
            </fieldset>
        </form>
    </div>
</section>
