<div class="wrapper dashboard-panel presets presets-template">
    <div class="row">
        <div class="col-xs-12 presets-template__event">
            <div class="presets__wrapper">
                <header class="col-xs-12 presets__header">
                    <h3 class=" presets__title">Event template</h3>
                </header>
                <ul class="col-xs-12 presets__body">
                    <li class="presets-item presets-template-item" data-ng-hide="templates.list.length">
                        <p class="presets-item__default-message">No Event templates yet.</p>
                    </li>
                    <li class="presets-item presets-template-item" data-ng-repeat="template in templates.list">
                        <form class="form-horizontal col-xs-12 presets-item__form" name="templateForm" novalidate>
                            <fieldset class="presets-template-item__fieldset">
                                <div class="col-xs-6">
                                    <div class="field-group presets-template-item__field-group">
                                        <label class="control-label presets-template-item__label" for="title">Title*</label>
                                        <input type="text" data-ng-model="template.title" name="title" id="title"
                                               class="form-control"
                                               data-ng-class="{'error-message-border': templateForm.title.$error.required}"
                                               placeholder="Title" required>
                                        <div data-ng-show="templateForm.title.$error.required" class="error-message">
                                            <p class="help-block error-text">Please fill Task title</p>
                                        </div>
                                    </div>
                                    <div class="field-group presets-template-item__field-group">
                                        <label class="field-label presets-template-item__label" for="title">Type</label>
                                        <select class="form-control" data-ng-model="template.type">
                                            <option value="sick">Sick</option>
                                            <option value="vacation">Vacation</option>
                                            <option value="event">Event</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="field-group presets-template-item__field-group">
                                        <label class="control-label presets-template-item__label" for="notes">Notes</label>
                                        <textarea class="form-control presets-template-item__notes-area" id="notes"
                                                  data-ng-model="template.notes"></textarea>
                                        <div ng-show="validationError.notes" class="error">
                                            {{validationError.notes.message}}
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="col-xs-12 presets__footer">
                                <button class="btn presets__btn presets__btn--delete" data-ng-click="templates.remove(template, 'eventTemplates')">
                                    Delete
                                </button>
                                <button class="btn presets__btn presets__btn--save" data-ng-click="templates.update(template)" data-ng-disabled="!templateForm.$valid">
                                    Save
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

