<div class="sidebar-header sidebar__block sidebar__block--group">
    <h3 class="sidebar-header__title">Events templates</h3>
    <!-- not creating template logic but create task logic -->
    <!--<a data-ui-sref="todo_state.events.create" class="fa fa-plus-circle add-task"></a>-->
</div>
<div data-ng-controller="templatesEventsListController as templatesEventsListCtrl">
    <div class="sidebar__block sidebar__block--group sidebar__block--group-nav sidebar__block--group-nav__templates"
         ng-click="templatesEventsListCtrl.sortReverse = !templatesEventsListCtrl.sortReverse"
         data-ng-show="templatesEventsListCtrl.templatesList.length > 3">
        <div class="sidebar__nav-item-wrapper sidebar__nav-item-wrapper--left">
            <div class="sidebar__nav-item">Sort by last date of use</div>
            <a class="sidebar__nav-item sidebar__nav-item--sort sidebar__nav-item--sort-priority sidebar__nav-item--sort__templates"
               data-ng-class="{
                    'sort-reverse-up': templatesEventsListCtrl.sortReverse,
                    'sort-reverse-down': !templatesEventsListCtrl.sortReverse
                }">
            </a>
        </div>
    </div>
    <ul class="sidebar__list">
        <li data-ng-repeat="eventTemplate in templatesEventsListCtrl.templatesList | orderBy:'lastUsingDate':templatesEventsListCtrl.sortReverse"
            data-ng-if="eventTemplate.type != 'sick' && eventTemplate.type != 'vacation'">
            <a class="sidebar__block sidebar-list-item"
                ng-click="templatesEventsListCtrl.viewTemplate(eventTemplate._id)">
                <div class="sidebar-list-item__title sidebar-list-item__title--templates">
                    <span data-ng-bind="eventTemplate.title"></span>
                </div>
            </a>
        </li>
    </ul>
    <!-- 'templatesEventsListCtrl.templatesList.length > 2' as we have two predefined templates (sick, vacation) -->
    <!-- and this templates hidden at this list but present in collection -->
    <p class="sidebar-default-message__no-items"
       data-ng-hide="templatesEventsListCtrl.templatesList.length > 2">No event templates yet.
    </p>
</div>

