@import (once) "../../../less/_app.variables.less";

.main-view-container {
  height: 100%;

  .page-wrapper { height: 100%; }
}

.main-wrapper {
  position: relative;
  height: 100%;
  margin-left: @sidebar-width;
  transition: margin .5s;
  z-index: 2;
  color: @main-font-color;
  background: @body-background-color;

  &::before {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: @sidebar-width;
    background-color: @color-cloud-burst;
    content: '';
    transition: left .5s;
  }

  &__category-control {
    width: 100%;
    border: none;

    option { background-color: @aside-background-color; }
  }

  .navbar-default {
    padding: 0 15px;
    box-sizing: border-box;
    background: @main-navbar-default-bg-color;
    box-shadow: none;
  }
}
