@import (once) "../../../less/_app.variables.less";

// todo refactor according ro design
.bootstrap-datetimepicker-widget {
  font-size: 0.85em;

  .row { margin: 0; }

  &.dropdown-menu { padding: 0; }

  .datepicker { padding: 0; }

  .datepicker-days {
    .table-condensed {
      thead {
        tr:first-child th {
          border-radius: 0;
          background: @color-biscay-blue-s41;
          color: inherit;

          &:hover,
          &:active,
          &:hover:active {
            background-color: darken(@color-biscay-blue-s41, 3%);
          }
        }

        .dow {
          color: @color-biscay-blue-s41;

          &:nth-child(6),
          &:nth-child(7) { color: @color-dark-pink-red-s64; }
        }
      }

      tbody {
        .day {
          &.active,
          &:active,
          &:hover { border-radius: 50%; }

          &.today {
            &:before { border: 0; }

            &:not(.active) {
              font-weight: 900;
              color: @color-biscay-blue-s41;
            }
          }

          &.weekend {
            color: @color-dark-pink-red-s64;

            &.active { color: inherit; }
          }

          &.new,
          &.disabled,
          &.old { opacity: 0.4; }
        }
      }
    }
  }
}

.bootstrap-datetimepicker-widget {
  thead tr:first-child {
    font-size: 1rem;
    color: @color-white;

    .prev,
    .next {
      color: @color-bali-hai-blue-s25;
      font-size: .75rem;
    }
  }

  .timepicker-hour,
  .timepicker-minute,
  .timepicker-second {
    width: 2rem;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
  }

  button[data-action] {
    padding: 0;
    font-size: 1.2rem;
    border: none;
    box-shadow: none;
    width: 3rem;
    background: transparent;
  }

  .datepicker-days .table-condensed tbody .day.active,
  .datepicker-days .table-condensed tbody .day:active,
  .datepicker-days .table-condensed tbody .day:hover {
    border-radius: 50%;
    padding: 0;
  }

  table td.day {
    height: 20px;
  }

  table {
    width: 90%;
    margin: 0 5%;
  }

  &.dropdown-menu.top:after {
    border-top: 6px solid @color-biscay-blue-s41;
  }

  a[data-action="today"] { display: none; }

  .timepicker.col-md-6 {
    padding: 0 .5rem;
    width: 100%;
    background: @color-biscay-blue-s41;

    .timepicker-picker {
      padding: 0;
      width: 50%;
      max-width: 120px;
      color: @color-bali-hai-blue-s25;

      tr:nth-child(2) {
        color: @color-white;

        span,
        button {
          transition: .2s;
          border-radius: 0;

          &:hover { background-color: darken(@color-biscay-blue-s41, 10%); }
        }
      }

      table td,
      table td span {
        padding: 0;
        width: 3rem;
        height: auto;
        line-height: 1.5rem;

        &.separator {
          padding: 0;
          height: 0;
          width: 0;
        }
      }

      a[data-action] {
        padding: 0;
        font-size: 1rem;
        line-height: 1rem;
        color: @color-bali-hai-blue-s25;

        &:hover span { 
          background: darken(@color-biscay-blue-s41, 10%);
          border-radius: 0;
        }

        span {
          margin: 0;
          transition: .2s;
        }
      }
    }
  }

  .datepicker.col-md-6 {
    position: relative;
    padding: 0;
    width: 100%;

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 24px;
      background: @color-biscay-blue-s41;
      top: 0;
      z-index: -1;
    }
  }

  &.dropdown-menu.timepicker-sbs.top {
    position: absolute;
    width: 100%;
    max-width: 200px;
  }

  .picker-switch {
    td span {
      line-height: 1rem;
      height: auto;
      width: auto;
    }

    &.accordion-toggle {
      position: absolute;
      width: 30%;
      right: 1.5rem;
      bottom: 7px;

      .fa.fa-check.fa-check {
        &:before {
          content: "Save";
          color: @color-white;
          display: inline-block;
          background: @color-mountain-meadow-green-s85;
          padding: .75rem 1.5rem;
          line-height: 1.25rem;
          font-size: 1.25rem;
          transition: .2s;
      }

        &:hover:before { background: darken(@color-mountain-meadow-green-s85, 10%);}
      }
    }
  }

  .table-condensed > tbody > tr > td,
  .table-condensed > tbody > tr > th,
  .table-condensed > tfoot > tr > td,
  .table-condensed > tfoot > tr > th,
  .table-condensed > thead > tr > td,
  .table-condensed > thead > tr > th {
    padding: 2.5px;
  }
}
