<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><%= app.title %></title>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="<%= app.keywords %>">
    <meta name="description" content="<%= app.description %>">

    <!--Application CSS Files-->
    <% _.forEach(assets.lib.css, function(url) { %>
    <link rel="stylesheet" href="<%= url %>">
    <% }); %>

    <% _.forEach(assets.cssFullPath, function(cssRules) { %>
    <% _.forEach(cssRules, function(url) { %>
    <link rel="stylesheet" href="<%= url %>">
    <% }); %>
    <% }); %>
</head>

<body class="ng-cloak">

<div class="main-view-container">
    <aside class="sidebar-container" data-ui-view="sidebar"></aside>
    <div class="root-container" data-ui-view="root"></div>
    <footer class="footer-mobile" data-ui-view="footer"></footer>
</div>

<script>
  MIH = {
    endpointUrl: "<%= endpointUrl %>"
  }
</script>

<!--Application JavaScript Files-->
<% _.forEach(assets.lib.js, function(url) { %>
<script type="text/javascript" src="<%= url %>"></script>
<% }); %>

<% _.forEach(assets.jsFullPath, function(jsRules) { %>
<% _.forEach(jsRules, function(url) { %>
<script type="text/javascript" src="<%= url %>"></script>
<% }); %>
<% }); %>

</body>

</html>
