<nav data-ng-show="headerCtrl.Authentication.user">

    <ul class="header-nav-element header-nav-element-tab-holder"
            data-ng-controller="HeaderController as headerCtrl">
        <li class="header-nav-element-tab-holder__item" data-ng-repeat="state in headerCtrl.topStatesInNavDropdown">
            <button class="header-nav-element-tab"
                    data-ng-click="headerCtrl.goToState(state)">{{ state.data.menuLabel}}</button>
        </li>
    </ul>


    <ul class="header-nav-element header-nav-element-btn-holder">
        <li class="header-nav-element  header-nav-element-btn-holder__item">
            <a class="header-nav-element-link" data-ui-sref="todo_state.events.create({ eventPresetType: 'sick' })">
                <i class="fa fa-heartbeat" aria-hidden="true">Sick today</i>
            </a>
        </li>
        <li class="header-nav-element  header-nav-element-btn-holder__item">
            <a class="header-nav-element-link" data-ui-sref="todo_state.events.create({ eventPresetType: 'vacation' })">
                <i class="fa fa-plane" aria-hidden="true">Vacation</i>
            </a>
        </li>
        <li class="header-nav-element  header-nav-element-btn-holder__item">
            <a class="header-nav-element-link" data-ui-sref="todo_state">
                <i class="fa fa-calendar calendar-btn" aria-hidden="true">Calendar</i>
            </a>
        </li>
        <li class="header-nav-element header-nav-element-btn-holder__item  header-nav-element-btn-holder__item--nav-notifications dropdown" data-notification-tooltip></li>
        <li class="header-nav-element header-nav-element-btn-holder__item header-nav-element-btn-holder__item--user-profile dropdown nav-user-profile">
            <button class="header-nav-element-btn-holder__dropdown-toggle dropdown-toggle"
                    data-toggle="dropdown">
                <span class="header-nav-element-btn-holder__username" data-ng-bind="headerCtrl.user.username"></span>
                <img class="header-nav-element-btn-holder__profile-image" src="{{headerCtrl.user.profileImageURL}}">
                <span class="header-nav-element-btn-holder__caret caret"></span>
            </button>

            <ul class="header-nav-element header-nav-element--dropdown-menu dropdown">
                <li><a href="#!/settings/profile">Settings</a></li>
                <li><a href="#!/templates">My templates</a></li>
                <li><a href="#!/migrate">Import content</a></li>
                <li><a href="/auth/signout">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
