<div data-ng-controller="TasksController" data-ng-init="editMode()" class="screen-view--task">
    <div class="task task--edit">
        <form name="taskForm" novalidate>
            <header class="main-header-mobile main-header-mobile--fixed">
                <div class="main-header-mobile__main-tab-info">
                    <a class="main-header-mobile-control"
                            data-ui-sref="restricted.todo_state.tasks.details({ taskId: task._id })">
                        <span class="main-header-mobile-control__icon icon icon-arrow_back"></span>
                    </a>
                    <span class="main-header-mobile__title">Edit task</span>
                </div>
                <div class="main-header-mobile__icons">
                    <button class="main-header-mobile-control main-header-mobile-control--right" data-ng-click="remove(task)">
                        <span class="main-header-mobile-control__icon icon icon-delete"></span>
                    </button>
                    <button type="submit" class="main-header-mobile-control main-header-mobile-control--right" data-ng-click="update(task)">
                        <span class="main-header-mobile-control__icon icon icon-done"></span>
                    </button>
                </div>
            </header>
            <section class="screen-panel with-fixed-header with-fixed-footer">
                <div class="form-box">
                    <label for="title">Title*</label>
                    <input type="text" id="title" name="title" class="form-input form-input--required"
                           placeholder="Title" data-ng-model="task.title" required>
                    <div class="form-input-error-holder">
                        <p data-ng-show="taskForm.title.$error.required" class="form-input-error-text">
                            Please fill title
                        </p>
                    </div>
                </div>
                <div class="form-group form-box form-box--without-error">
                    <label for="notes">Notes</label>
                    <textarea id="notes" class="form-input form-input--notes" data-ng-model="task.notes"></textarea>
                </div>
            </section>
        </form>
    </div>
</div>