<div class="tasks-list" data-ng-controller="TasksListController as taskListCtrl">
    <header class="main-header-mobile">
        <div class="main-header-mobile__main-tab-info">
            <span class="main-header-mobile-control__icon icon icon-dehaze"></span>
            <h3 class="main-header-mobile__title">Tasks</h3>
        </div>
        <div class="main-header-mobile__icons">
            <a data-ui-sref="restricted.todo_state.tasks.create" class="main-header-mobile-control--right">
                <span class="main-header-mobile-control__icon icon icon-add"></span>
            </a>
            <a data-ui-sref="restricted.overdue" class="main-header-mobile-control--right">
                <span class="main-header-mobile-control__icon icon icon-notifications_active"></span>
            </a>
        </div>
    </header>

    <div class="sidebar__block sidebar__block--group sidebar__block--group-nav"
         data-ng-show="taskListCtrl.tasks.length > 1">
        <div class="sidebar__nav-item-wrapper sidebar__nav-item-wrapper--left">
            <div class="sidebar__nav-item">Sort by:</div>
            <a class="sidebar__nav-item sidebar__nav-item--sort sidebar__nav-item--sort-priority"
               data-ng-class="{
               'sort-reverse-up': taskListCtrl.renderSortOption() === 'ascPriority',
               'sort-reverse-down': taskListCtrl.renderSortOption() === 'descPriority'
               }"
               data-ng-click="taskListCtrl.sortListBy('priority')">Priority</a>
            <a class="sidebar__nav-item sidebar__nav-item--sort sidebar__nav-item--sort-time"
               data-ng-class="{
               'sort-reverse-up': taskListCtrl.renderSortOption() === 'ascTime',
               'sort-reverse-down': taskListCtrl.renderSortOption() === 'descTime'
               }"
               data-ng-click="taskListCtrl.sortListBy('time')">Time</a>
        </div>

        <div class="tasks-list__subheader">
            <div class="tasks-list__subheader-wrapper">
                <div class="tasks-list__subheader-label">Display completed tasks</div>
                <label class="tasks-list__subheader-switch" for="sidebar__nav-item--task-checkbox">
                    <input class="tasks-list__subheader-checkbox"
                            id="sidebar__nav-item--task-checkbox"
                            type="checkbox"
                            data-ng-model="taskListCtrl.filter.isComplete"
                            data-ng-change="taskListCtrl.sortListBy('isComplete')"/>
                    <div class="tasks-list__subheader-slider tasks-list__subheader-round"></div>
                </label>
            </div>
        </div>

    </div>

    <ul class="tasks-list__list" data-ng-show="taskListCtrl.filteredTasks.length">
        <li class="tasks-list__list-item {{'task-priority-' + task.priority}}"
            data-ng-repeat="task in taskListCtrl.filteredTasks">
            <div class="tasks-list__progress-wrapper">
                <div class="tasks-list__progress-wrapper" donut-chart=""
                     donut-data="task.progress.progressChart.data"
                     donut-colors="task.progress.progressChart.colors">
                    <span class="tasks-list__formatted">{{ task.progress.percent }}%</span>
                </div>
            </div>
            <div class="tasks-list-item__info">
                <div class="tasks-list-item__title" data-ng-bind="task.title"></div>
            </div>
            <a class="tasks-list-item__edit" data-ui-sref="restricted.todo_state.tasks.details({ taskId: task._id })">
                <span class="tasks-list__icons--edit icon icon-create"></span>
            </a>
        </li>
    </ul>
    <p class="tasks-list__no-items"
       data-ng-hide="taskListCtrl.tasks.length">
        No tasks yet.<br/>Please, click on <span class="icon icon-add"></span> to add new one.
    </p>
    <p class="tasks-list__no-items"
       data-ng-show="taskListCtrl.tasks.length && taskListCtrl.filter.isComplete && !taskListCtrl.filteredTasks.length">
        There are no completed tasks <br/>Please
        <button type="button" class="sidebar-button__reset" data-ng-click="taskListCtrl.resetCompleteFilter()">
            reset
        </button>
        filter to display all tasks.
    </p>
</div>
