<div class="sidebar"
    data-ng-controller="SidebarController as sidebarCtrl">
    <header>
        <div class="user-info">
            <div class="user-info__avatar">
                <img data-ng-src="{{user.profileImageURL}}" alt="{{user.username}}">
            </div>
            <div class="user-info__username">{{user.username}}</div>
            <div class="user-info__email">{{user.email}}</div>
        </div>
    </header>
    <nav class="sidebar-menu">
        <ul>
            <li>
                <img src="modules/sidebar/img/date.png">
                <a ui-sref="restricted.todo_state">Calendar</a>
            </li>
            <li>
                <img src="modules/sidebar/img/favorite.png">
                <a ui-sref="restricted.todo_state.events.create({eventPresetType: sick})">Sick today</a>
            </li>
            <li>
                <img src="modules/sidebar/img/airplane.png">
                <a href="restricted.todo_state.events.create(eventPresetType:vacation)">Vacation</a>
            </li>
            <li>
                <img src="modules/sidebar/img/notifications.png">
                <a href="#">Reminder</a>
            </li>
            <li class="separator"></li>
            <li>
                <img src="modules/sidebar/img/star.png">
                <a ui-sref="restricted.todo_state.tasks.list">Tasks</a>
            </li>
            <li>
                <img src="modules/sidebar/img/event.png">
                <a ui-sref="restricted.todo_state.events.list">Events</a>
            </li>
            <li class="separator"></li>
            <li>
                <img src="modules/sidebar/img/repeat.png">
                <a ui-sref="restricted.migrate">Import content</a>
            </li>
            <li>
                <img src="modules/sidebar/img/exit.png">
                <button data-ng-click="sidebarCtrl.singOut()">Sign Out</button>
            </li>
        </ul>
    </nav>
</div>