<a class="notifications-info"
   data-ng-init="find()"
   data-ng-class="{disable: !notifications.overdueSlots.length}"
   data-ng-click="mainCtrl.toggleDropdown('notification')">
    <i class="fa fa-bell" aria-hidden="true"></i>
    <span class="notifications-info__label"
          data-ng-class="{'notifications-info__label-label--primary': notifications.overdueSlots.length}"
          data-ng-bind="notifications.overdueSlots.length">
    </span>
</a>

<ul class="notifications__dropdown dropdown-menu-container"
    data-ng-class="{'dropdown-menu-container--collapse': !mainCtrl.dropdown.notification}"
    data-ng-show="notifications.overdueSlots.length">
    <li class="notification-item"
        data-ng-repeat="slot in notifications.overdueSlots | limitTo: 3 ">
            <a class="notifications__dropdown-link dropdown-menu-container__link"
               data-ui-sref="restricted.overdue.edit({ taskId: slot.taskId })"
               data-ng-bind="slot.title"></a>
            <span class="overdue-badge"
                  data-ng-if="!slot.isComplete"
                  data-ng-click="completeSlot(slot, notifications.overdueTasks)">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
            <span data-ng-if="slot.isComplete" class="label label-primary">done</span>
    </li>
    <li class="notification-item notification-item--control">
        <a class="notifications__dropdown-link dropdown-menu-container__link"
           data-ui-sref="restricted.overdue">See all notifications</a>
    </li>
</ul>
