@fonts-root-path: '../fonts';

@font-face {
  font-family: 'open_sansbold';
  src: url('@{fonts-root-path}/opensans-bold-webfont.woff2') format('woff2'),
  url('@{fonts-root-path}/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold_italic';
  src: url('@{fonts-root-path}/opensans-bolditalic-webfont.woff2') format('woff2'),
  url('@{fonts-root-path}/opensans-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansextrabold';
  src: url('@{fonts-root-path}/opensans-extrabold-webfont.woff2') format('woff2'),
  url('@{fonts-root-path}/opensans-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url('@{fonts-root-path}/opensans-extrabolditalic-webfont.woff2') format('woff2'),
  url('@{fonts-root-path}/opensans-extrabolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansitalic';
  src: url('@{fonts-root-path}/opensans-italic-webfont.woff2') format('woff2'),
  url('@{fonts-root-path}/opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('@{fonts-root-path}/opensans-light-webfont.woff2') format('woff2'),
  url('@{fonts-root-path}/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight_italic';
  src: url('@{fonts-root-path}/opensans-lightitalic-webfont.woff2') format('woff2'),
  url('@{fonts-root-path}/opensans-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('@{fonts-root-path}/opensans-regular-webfont.woff2') format('woff2'),
  url('@{fonts-root-path}/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('@{fonts-root-path}/opensans-semibold-webfont.woff2') format('woff2'),
  url('@{fonts-root-path}/opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url('@{fonts-root-path}/opensans-semibolditalic-webfont.woff2') format('woff2'),
  url('@{fonts-root-path}/opensans-semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'migrate-icons';
  src: url('@{fonts-root-path}/migrate-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon-gmail, .icon-outlook {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'migrate-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gmail:before {
  content: "\e900";
}

.icon-outlook:before {
  content: "\e901";
}