<a class="sidebar-header sidebar__block sidebar__block--group"
   data-ui-sref="restricted.todo_state.tasks.create">
    <h3 class="sidebar-header__title">Tasks</h3>
    <span class="sidebar-header__button fa fa-plus-circle add-task"></span>
</a>

<div class="sidebar__block sidebar__block--group sidebar__block--group-nav"
     data-ng-show="taskListCtrl.tasks.length > 1">
    <div class="sidebar__nav-item-wrapper sidebar__nav-item-wrapper--left">
        <div class="sidebar__nav-item">Sort by:</div>
        <a class="sidebar__nav-item sidebar__nav-item--sort sidebar__nav-item--sort-priority"
           data-ng-class="{
               'sort-reverse-up': taskListCtrl.renderSortOption() === 'ascPriority',
               'sort-reverse-down': taskListCtrl.renderSortOption() === 'descPriority'
               }"
           data-sorttype="priority"
           data-ng-click="taskListCtrl.sortListBy('priority')">Priority</a>
        <a class="sidebar__nav-item sidebar__nav-item--sort sidebar__nav-item--sort-time"
           data-ng-class="{
               'sort-reverse-up': taskListCtrl.renderSortOption() === 'ascTime',
               'sort-reverse-down': taskListCtrl.renderSortOption() === 'descTime'
               }"
           data-sorttype="time"
           data-ng-click="taskListCtrl.sortListBy('time')">Time</a>
    </div>
    <div class="sidebar__nav-item-wrapper sidebar__nav-item-wrapper--right">
        <div class="sidebar__nav-item sidebar__nav-item-complete">
            <input class="sidebar__nav-item--task-checkbox"
                   id="sidebar__nav-item--task-checkbox"
                   type="checkbox"
                   data-ng-model="taskListCtrl.filter.isComplete"/>
            <label class="sidebar__nav-item--task-checkbox-label"
                   for="sidebar__nav-item--task-checkbox"
                   data-ng-click="taskListCtrl.sortListBy('isComplete')"
                   data-sorttype="isComplete"></label>
        </div>
    </div>
</div>

<ul class="sidebar__list">
    <li data-ng-repeat="task in taskListCtrl.tasks">
        <a class="sidebar__block sidebar-list-item sidebar-list-item__common-list {{'task-priority-' + task.priority}}"
           data-ui-sref="restricted.todo_state.tasks.edit({ taskId: task._id })">
            <div class="sidebar-list-item__title">
                <span data-ng-bind="task.title"></span>
            </div>
            <div class="progress__wrapper">
                <progress class="progress"
                          max="100"
                          value="{{taskListCtrl.getTaskDonePercentage(task)}}"></progress>
                <div class="progress-value"></div>
                <div class="progress-bg">
                    <div class="progress-bar"></div>
                </div>
            </div>
        </a>
    </li>
</ul>

<p class="sidebar-default-message__no-items"
    data-ng-hide="taskListCtrl.tasks.length">
    No tasks yet.<br/>Please, click on <span class="fa fa-plus-circle"></span> to add new one.
</p>