<div class="wrapper dashboard-panel tile" data-ng-controller="OutlookMigrateController as ctrl">
    <div class="row">
        <div class="col-xs-12">
            <div class="tile__wrapper">
                <header class="col-xs-12 tile__header">
                    <h3 class="tile__title">Outlook synchronization</h3>
                </header>
                <ul class="col-xs-12 tile__body migrate-sync-list">
                    <li class="tile-item" data-ng-show="ctrl.authUrl">
                        <a class="btn btn-large btn-primary"
                           href="{{ctrl.authUrl}}">Log In</a>
                    </li>
                    <li class="tile-item" data-ng-show="ctrl.authorized">
                        <div class="col-xs-12 tile-item__form">
                            <fieldset class="presets-template-item__fieldset">
                                <div class="col-xs-3">
                                    <label for="syncDateFrom" class="control-label">Start date: </label>
                                    <input id="syncDateFrom" type="date" class="form-control"
                                           data-ng-model="ctrl.params.startDateTime">
                                </div>
                                <div class="col-xs-3">
                                    <label for="syncDateTo" class="control-label">End date: </label>
                                    <input id="syncDateTo" type="date" class="form-control"
                                           data-ng-model="ctrl.params.endDateTime">
                                </div>
                            </fieldset>
                        </div>
                    </li>
                </ul>
                <div class="col-xs-12 tile__footer migrate__footer">
                    <button type="button" class="btn tile__btn tile__btn--delete"
                            data-ng-click="ctrl.getOutlookCalendarEvents()">Get events</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-t20" data-ng-show="ctrl.authorized">
        <div class="col-xs-12">
            <div class="tile__wrapper">
                <header class="col-xs-12 tile__header">
                    <h3 class="tile__title">Events</h3>
                </header>
                <ul class="col-xs-12 tile__body migrate-sync-list">
                    <li class="tile-item" data-ng-show="!ctrl.events.length">
                        No events
                    </li>
                    <li class="tile-item">
                        <table class="col-xs-12 events-list" data-ng-show="ctrl.events.length">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Notes</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="event in ctrl.events">
                                <td>{{event.title}}</td>
                                <td>{{event.notes}}</td>
                                <td>{{event.days.startTime | date:ctrl.dateFormat}}</td>
                                <td>{{event.days.endTime | date:ctrl.dateFormat}}</td>
                                <td>{{event.status}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
                <div class="col-xs-12 tile__footer migrate__footer">
                    <button type="button" class="btn tile__btn tile__btn--save"
                            data-ng-click="ctrl.importEvents()"
                            data-ng-disabled="!ctrl.events.length">Import events
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
