<div class="main-content-wrapper templates">
    <div class="main-header-mobile">
        <div class="main-header-mobile__main-tab-info">
            <span class="main-header-mobile-control__icon icon icon-dehaze"
                  data-ng-click="mainCtrl.toggleSidebar()"></span>
            <h3 class="main-header-mobile__title">Templates</h3>
        </div>
        <div class="main-header-mobile__icons">
            <a data-ui-sref="restricted.overdue" class="main-header-mobile-control--right">
                <span class="main-header-mobile-control__icon icon icon-notifications_active"></span>
            </a>
        </div>
    </div>
    <header>
        <div class="templates__sort">
            <div class="templates__sort-label">Sort by last date of use:</div>
            <div class="templates__sort-actions">
                <span class="templates__sort-button"
                     data-ng-class="{'templates__sort-button--active': !templatesCtrl.soprtingReverse}"
                     data-ng-click="templatesCtrl.deactivateSortingReverse()">
                    <span class="icon icon-sort"></span>
                </span>
                <span class="templates__sort-button"
                     data-ng-class="{'templates__sort-button--active': templatesCtrl.soprtingReverse}"
                      data-ng-click="templatesCtrl.activateSortingReverse()">
                    <span class="icon icon-sort icon--rotated"></span>
                </span>
            </div>
        </div>
        <ul class="templates__tabs">
            <li class="templates__tabs-tab"
                data-ng-class="{'templates__tabs-tab--active': templatesCtrl.isTasksTabActive()}"
                data-ng-click="templatesCtrl.setTasksTabActive()">
                Tasks
            </li>
            <li class="templates__tabs-tab"
                data-ng-class="{'templates__tabs-tab--active': templatesCtrl.isEventsTabActive()}"
                data-ng-click="templatesCtrl.setEventsTabActive()">
                Events
            </li>
        </ul>
    </header>
    <div class="templates__list">
        <ul data-ng-show="templatesCtrl.isTasksTabActive()">
            <li class="templates__list-item"
                data-ng-repeat="task in user.taskTemplates | orderBy: 'lastUsingDate' : templatesCtrl.soprtingReverse">
                <span data-ng-bind="task.title"></span>
            </li>
        </ul>
        <ul ng-show="templatesCtrl.isEventsTabActive()">
            <li class="templates__list-item"
                data-ng-repeat="event in user.eventTemplates | orderBy: 'lastUsingDate' : templatesCtrl.soprtingReverse">
                <span data-ng-bind="event.title"></span>
            </li>
        </ul>
    </div>
</div>