<a class="left-sidebar-header left-sidebar__block left-sidebar__block--group"
   data-ui-sref="todo_state.events.create">
    <h3 class="left-sidebar-header__title">Events</h3>
    <span class="left-sidebar-header__button fa fa-plus-circle add-task"></span>
</a>

<div data-ng-controller="EventsListController as eventCtrl">
    <ul class="left-sidebar__list">
        <li data-ng-repeat="event in eventCtrl.events | orderBy:'days.startTime'">
            <a class="left-sidebar__block left-sidebar-list-item"
               data-ui-sref="todo_state.events.edit({ eventId: event._id })">
                <div class="left-sidebar-list-item__title"
                      data-ng-bind="event.title"></div>
                <div class="left-sidebar-list-item__description">
                    <div class="left-sidebar-list-item__description--event-day">{{ event.days.startTime | date:'EEEE' }}</div>
                    <div class="left-sidebar-list-item__description--event-time">{{ event.days.startTime | date:'HH:mm' }}</div>
                </div>
            </a>
        </li>
    </ul>
    <p data-ng-hide="eventCtrl.events.length">No events yet.<br/>Please, click on <span class="fa fa-plus-circle"></span> to add new one.</p>
</div>
