
// ----------------------------------------------- SCREENS -----------------------------------------------
@mobile-media: ~"only screen and (max-width: 768px)";
@tablet-media: ~"only screen and (min-width: 768px)";
@wide-tablet-media: ~"only screen and (min-width: 992px)";
@desktop-media: ~"only screen and (min-width: 1200px)";

// ---------------------------------------------  - FONTS ------------------------------------------------
@font-open-sans-light: 'open_sanslight', Arial, sans-serif;
@font-open-sans-light-italic: 'open_sanslight_italic', Arial, sans-serif;
// ---------------------------------------------
@font-open-sans-regular: 'open_sansregular', Arial, sans-serif;
@font-open-sans-italic: 'open_sansitalic', Arial, sans-serif;
// ---------------------------------------------
@font-open-sans-semibold: 'open_sanssemibold', Arial, sans-serif;
@font-open-sans-semibold: 'open_sanssemibold', Arial, sans-serif;
@font-open-sans-semibold-italic: 'open_sanssemibold_italic', Arial, sans-serif;
// ---------------------------------------------
@font-open-sans-bold: 'open_sansbold', Arial, sans-serif;
@font-open-sans-bold-italic: 'open_sansbold_italic', Arial, sans-serif;
// ---------------------------------------------
@font-open-sans-extrabold: 'open_sansextrabold', Arial, sans-serif;
@font-open-sans-extrabold-italic: 'open_sansextrabold_italic', Arial, sans-serif;
@default-font-size: 10px;

// --------------------------------------------- BASE COLORS ---------------------------------------------
/* naming from http://www.color-blindness.com/color-name-hue/
  Use @color-[ColorName]-[Hue]-s[SaturationValue]
*/
@color-white: #FFF;
@main-white-smoke-white-s0: #F5F5F5;
@main-white-lilac-white-s0: #F3F3F4;
@color-10-percent-opacity-white: rgba(255, 255, 255, .1);
@color-50-percent-opacity-white: rgba(255, 255, 255, .5);
@color-mid-grey-s4: #676A6C;
@color-hit-grey-s0: #AEAFAF;
@color-light-grey-s0: #D6D6D6;
@color-roof-terracotta-red-s60: #A94442;
@color-dark-pink-red-s64: #ED5565;
@color-wewak-red-s38: #F1959E;
@color-carissma-red-s39: #E88C95;
@color-pale-pink-red-s6: #FDEDEF;
@color-casablanca-yellow-s70: #F3A747;
@color-sea-buckthorn-orange-s60: #EA9B5C;
@color-serenade-orange-s15: #FCE7D6;
@color-mountain-meadow-green-s85: #1AB394;
@color-mountain-meadow-green-s84: #1AAA8F;
@color-mountain-meadow-green-s89: #119B7F;
@color-downy-green-s44: #75D1BE;
@color-biscay-blue-s41: #2F4050;
@color-blue-whale-blue-s53: #1E3141;
@color-blue-whale-blue-s58: #172837;
@color-bali-hai-blue-s25: #879eb4;
@color-mariner-blue-s61: #3B5998;
@color-san-marino-blue-s47: #507299;
@color-denim-blue-s85: #1C84C6;
@color-denim-blue-s90: #1176B7;
@color-jordy-blue-s46: #77B5DD;
@color-conflower-blue-s64: #55ACEE;
@color-lavender-violet-s6: #E8F2F9;

// ------------------------------------------- TYPOGRAPHY COLORS -----------------------------------------
@light-text: @color-white;
@link-color: @color-denim-blue-s85;
@controls-link-color: @color-bali-hai-blue-s25;

// ------------------------------------------- PRIORITY COLORS -------------------------------------------
@priority-1-color: @color-dark-pink-red-s64;
@priority-2-color: @color-casablanca-yellow-s70;
@priority-3-color: @color-downy-green-s44;
@priority-4-color: @color-denim-blue-s85;

// -------------------------------------------- ERROR COLORS ---------------------------------------------
@error-text: @color-wewak-red-s38;
@error-message-color: @color-roof-terracotta-red-s60;

// ----------------------------------------------- SIDEBAR -----------------------------------------------
@aside-background-color: @color-biscay-blue-s41;

// ----------------------------------------------- SOCIALS -----------------------------------------------
@socials-facebook-color: @color-mariner-blue-s61;
@socials-twitter-color: @color-conflower-blue-s64;
@socials-vk-color: @color-san-marino-blue-s47;
@socials-dimension: 3.8rem;

// --------------------------------------------- LOGIN PAGE ----------------------------------------------

@login-valid-value: @color-mountain-meadow-green-s85;
@login-pristine-color: @color-hit-grey-s0;
@login-error-color: @color-dark-pink-red-s64;
@login-input-font-color: @color-bali-hai-blue-s25;
@login-font-color: @light-text;
@login-sing-in-btn-color: @color-mountain-meadow-green-s84;
@login-sing-in-btn-hover-color: @color-mountain-meadow-green-s89;
@login-create-account-btn-color: @color-denim-blue-s85;
@login-create-account-btn-hover-color: @color-denim-blue-s90;
@login-btn-font-color: @light-text;
// ---------------------------------------------
@login-auth-bg-img: url('/modules/users/img/backgrounds/bg-1.jpg');
@login-bg-color: @color-blue-whale-blue-s58;
// ---------------------------------------------
@login-input-bg-color: @color-blue-whale-blue-s58;
@login-input-border-color: @color-blue-whale-blue-s58;
@login-input-font-color: @color-blue-whale-blue-s58;
// ---------------------------------------------
@login-form-max-width: 460px;
@login-form-min-width: 200px;
@login-description-max-width: 800px;
// ---------------------------------------------
@login-error-message-font-size: .75rem;

// ----------------------------------------------- POPOVER -----------------------------------------------
@popover-font-size: 1rem;
@popover-font-color: @color-biscay-blue-s41;

// ------------------------------------------------- LOGO ------------------------------------------------
@logo-lg-light: url('/modules/users/img/logo-lg-light.png');

// -------------------------------------------- MAIN CONTENT ---------------------------------------------
@main-font-color: @color-biscay-blue-s41;
@main-navbar-default-bg-color: @light-text;
@main-width: 100% ~"-" @sidebar-width;
@main-max-width: 198rem;

// ----------------------------------------------- SIDEBAR -----------------------------------------------
@sidebar-width: 30rem;
@sidebar-width-collapsed: 6.8rem;
@sidebar-block-wrapper-bg: @color-blue-whale-blue-s53;
@sidebar-wrapper-color: @color-bali-hai-blue-s25;
@sidebar-brd-b: @color-bali-hai-blue-s25;
@sidebar-color: @color-bali-hai-blue-s25;
@sidebar-filter-color: @color-bali-hai-blue-s25;
@sidebar-filter-color--active: @light-text;
@sidebar-filter-bg: @color-blue-whale-blue-s58;
@sidebar-filter-bg--active: @color-mountain-meadow-green-s85;
@sidebar-color--hover: @light-text;
@sidebar-outline--hover: @color-10-percent-opacity-white;
@sidebar-border-caret: @color-10-percent-opacity-white;
@sidebar-border-caret--in-active: @color-50-percent-opacity-white;
@sidebar-border-caret--active: @light-text;

// ----------------------------------------------- TOGGLER -----------------------------------------------
@toggler--outline-color--hover: @color-10-percent-opacity-white;
@toggler-bg-color: @color-mountain-meadow-green-s85;
@toggler-indent: 1.5rem;
@toggler-padding: 1.3rem;

// ------------------------------------------------ HEADER -----------------------------------------------
@header-height: 6rem;
@header-color: @color-bali-hai-blue-s25;
@header-color--hover: @light-text;
@header-line-height: @header-height;
@header-btn-bg-color: transparent;
@header-bg-color: @color-biscay-blue-s41;
@header-btn-bg-color--hover: @color-blue-whale-blue-s53;
@header-notification-bg-color--regular: @color-mountain-meadow-green-s85;
@header-notification-bg-color--default: @color-hit-grey-s0;
@header-notification-label-dimension: 1.4rem;
