@import (once) "_app.variables.less";

// ------------------------ browser ------------------------
html {
  font-size: @default-font-size;
}

body {
  font-size: 1.4rem;
  font-family: @font-open-sans-regular;
  overflow-x: auto;
  color: #FFF;
}

html,
body {
  height: 100%;
}

a { color: @link-color; }

textarea { resize: vertical; }

ol,
ul { list-style: none; }

ol,
ul,
li {
  margin: 0;
  padding: 0;
}

// ------------------------ Angular ------------------------
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

// ------------------------ 3-rd party libs ------------------------
.auth-form {
  .has-error {
    .control-label {
      color: @login-btn-font-color;
    }
  }

  .browsehappy.jumbotron.hide,
  body.ng-cloak {
    display: block;
  }


  .btn {
    background-image: none;
    outline: none;

    &:focus,
    &:active,
    &:focus:active {
      outline: none;
    }
  }

  .nav-header { background-repeat: repeat; }

  .nav-title {
    font-size: 1.5em;
    color: inherit;
    text-transform: uppercase;
  }

  .navbar {
    background: #FFF;

    .top-link {
      &:hover { color: @base-color; }
    }
  }
}
