<div class="migrate">
    <header class="main-header-mobile main-header-mobile--fixed">
        <div class="main-header-mobile__main-tab-info">
            <span class="main-header-mobile-control__icon icon icon-dehaze"></span>
            <h3 class="main-header-mobile__title">Synchronisation</h3>
        </div>
        <div class="main-header-mobile__icons">
            <a data-ui-sref="restricted.overdue" class="main-header-mobile-control--right">
                <span class="main-header-mobile-control__icon icon icon-notifications_active"></span>
            </a>
        </div>
    </header>
    <div class="screen-panel screen-panel--transparent with-fixed-header with-fixed-footer">
        <h3 class="migrate__heading">Choose email client</h3>
        <div class="migrate__email-clients">
            <div data-ng-controller="OutlookMigrateController as outlook">
                <a data-ng-if="outlook.authUrl" href="{{outlook.authUrl}}">
                    <span class="icon-migrate icon-outlook"></span>
                </a>
                <a data-ng-if="!outlook.authUrl" data-ui-sref="restricted.migrate.outlook">
                    <span class="icon-migrate icon-outlook"></span>
                </a>
            </div>
            <span>or</span>
            <div data-ng-controller="GoogleCalendarController as google">
                <a data-ng-if="google.authUrl" href="{{google.authUrl}}">
                    <span class="icon-migrate icon-gmail"></span>
                </a>
                <a data-ng-if="!google.authUrl" data-ui-sref="restricted.migrate.googleCalendar">
                    <span class="icon-migrate icon-gmail"></span>
                </a>
            </div>
        </div>
        <div>for synchronization</div>
        <div>/ import events /</div>
    </div>
</div>
