<section class="settings-page">
    <header class="main-header-mobile">
        <div class="main-header-mobile__main-tab-info">
            <a data-ui-sref="restricted.profile">
                <span class="main-header-mobile-control__icon icon icon-arrow_back"></span>
            </a>
            <h3 class="main-header-mobile__title">Edit profile</h3>
        </div>
        <div class="main-header-mobile__icons">
            <a data-ui-sref="restricted.overdue" class="main-header-mobile-control--right">
                <span class="main-header-mobile-control__icon icon icon-done"></span>
            </a>
        </div>
    </header>
    <div class="settings-content">
        <form>
            <fieldset>
                <div class="field-row">
                    <div class="field-col">
                        <div class="field-group__select">
                            <h2 class="field-group--name">From</h2>
                            <select class="field-group--field">
                                <option>04:30 PM</option>
                                <option>05:00 PM</option>
                                <option>05:30 PM</option>
                                <option>06:00 PM</option>
                                <option>06:30 PM</option>
                                <option>07:00 PM</option>
                            </select>
                        </div>
                    </div>

                    <div class="field-col">
                        <div class="field-group__select">
                            <h2 class="field-group--name">To</h2>
                            <select class="field-group--field">
                                <option>04:30 PM</option>
                                <option>05:00 PM</option>
                                <option>05:30 PM</option>
                                <option>06:00 PM</option>
                                <option>06:30 PM</option>
                                <option>07:00 PM</option>
                            </select>
                        </div>
                    </div>

                    <div class="field-col__small field-col__row-control">
                        <label>
                            <span class="field-col--label">Sun</span>
                            <input type="checkbox">
                        </label>
                    </div>
                </div>

                <div class="field-row">
                    <div class="field-col">
                        <div class="field-group__select">
                            <h2 class="field-group--name">From</h2>
                            <select class="field-group--field">
                                <option>04:30 PM</option>
                                <option>05:00 PM</option>
                                <option>05:30 PM</option>
                                <option>06:00 PM</option>
                                <option>06:30 PM</option>
                                <option>07:00 PM</option>
                            </select>
                        </div>
                    </div>

                    <div class="field-col">
                        <div class="field-group__select">
                            <h2 class="field-group--name">To</h2>
                            <select class="field-group--field">
                                <option>04:30 PM</option>
                                <option>05:00 PM</option>
                                <option>05:30 PM</option>
                                <option>06:00 PM</option>
                                <option>06:30 PM</option>
                                <option>07:00 PM</option>
                            </select>
                        </div>
                    </div>

                    <div class="field-col__small field-col__row-control">
                        <label>
                            <span class="field-group--label">Mon</span>
                            <input type="checkbox">
                        </label>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>