@import (once) "../../../less/_app.variables.less";
.migrate {
  &-sync {
    &-list {
      padding: 5.5rem 0 1.2rem;
      background-color: @color-white;
      text-align: center;
    }
    &-item {
      display: inline-block;
      padding: 4.5rem 8rem 5rem;
      & .sync-item-outlook,
      & .sync-item-gmail {
        color: @migrate-sync-icon-active-color;
      }
      &--heading {
        display: block;
        width: 100%;
        color: @migrate-sync-heading-color;
        font-family: @font-open-sans-light;
        font-size: 2.6rem;
      }
      & a {
        display: block;
      }
      &__icon {
        font-size: 7.2rem;
        color: @migrate-sync-icon-inactive-color;
      }
      &__title {
        display: block;
        color: @migrate-sync-text-color;
        font-family: @font-open-sans-semibold;
        font-size: 1.4rem;
        padding: 15px 0;
      }
    }
  }

  &__footer {
    background-color: @color-white;
  }

}

.p-t20 {
  padding-top: 20px;
}

.migrate {

  &-table {

    .events-list {
      font-size: 14px;
      margin: 10px;
      table-layout: fixed;

      td, th {
        padding: 10px;
        word-break: break-all;
      }
    }
  }

}