<a class="notifications-info"
   data-ng-init="find()"
   data-ng-class="{disable: !notifications.overdueSlots.length}"
   data-ng-click="mainCtrl.toggleDropdown('notification'); getNotifications()">
    <i class="fa fa-bell" aria-hidden="true"></i>
    <span class="notifications-info__label"
          data-ng-class="{'notifications-info__label--primary': getNonCompletedSlotsLength()}">
        {{ getNonCompletedSlotsLength() }}
    </span>
</a>

<ul class="notifications__dropdown dropdown-menu-container"
    data-ng-class="{'dropdown-menu-container--collapse': !mainCtrl.dropdown.notification}"
    data-ng-show="notifications.overdueSlots.length">
    <li class="notification-item"
        data-ng-repeat="slot in notifications.overdueSlots | limitTo: 3 ">
        <a class="notifications__dropdown-link dropdown-menu-container__link"
           data-ui-sref="restricted.overdue.edit({ taskId: slot.taskId })">
            <span class="dropdown-item-title" data-ng-class="'task-priority--' + slot.priority"
                  data-ng-bind="slot.title"></span>
        </a>
        <span class="overdue-checkbox" data-ng-if="!slot.isComplete">
                DONE
                <label class="dropdown-checkbox">
                    <input type="checkbox" data-ng-model="slot.isComplete" data-ng-change="completeSlot(slot)">
                    <span class="dropdown-checkbox--square"></span>
                </label>
            </span>
        <span data-ng-if="slot.isComplete" class="label label-primary">done</span>
    </li>
    <li class="notification-item notification-item--control clearfix">
        <a class="notification-item__view-all pull-right" data-ui-sref="restricted.overdue">
            <button class="button button--green"> View all notifications</button>
        </a>
    </li>
</ul>
